<div class="product-big-title-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-bit-title text-center">
          <h2><%= t ".shopping_cart" %></h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Page title area -->


<div class="single-product-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-content-right">
          <div class="woocommerce">
            <form method="post" action="#">
              <table cellspacing="0" class="shop_table cart">
                <thead>
                  <tr>
                    <th class="product-check">&nbsp;</th>
                    <th class="product-img">&nbsp;</th>
                    <th class="product-thumbnail"><%= t ".product" %></th>
                    <th class="product-color"><%= t ".color" %></th>
                    <th class="product-size"><%= t ".size" %></th>
                    <th class="product-price"><%= t ".price" %></th>
                    <th class="product-quantity"><%= t ".quantity" %></th>
                    <th class="product-subtotal"><%= t ".total" %></th>
                    <th class="product-remove"><%= t ".product" %>&nbsp;</th>
                  </tr>
                </thead>
                <tbody id="cart">
                  <% if @cart %>
                    <% @cart.each do |item| %>
                      <%= render partial: "carts/cart", locals: {cart: item} %>
                    <% end %>
                  <% end %>
                  <tr>
                    <td class="actions" colspan="8">
                      <div class="coupon">
                        <label for="coupon_code">Coupon:</label>
                        <input type="text" placeholder="Coupon code" value="" id="coupon_code" class="input-text" name="coupon_code">
                        <input type="submit" value="Apply Coupon" name="apply_coupon" class="button">
                      </div>
                      <%= link_to t(".checkout"), checkout_path, class: "btn btn-primary" %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="related-products-wrapper">
      <h2 class="related-products-title"><%= t ".related_products" %></h2>
      <div class="related-products-carousel">
        <% Product.top_sellers(Settings.number_of_top).each do |product| %>
          <%= render partial: "static_pages/product_suggest", locals: {product: product} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
