<div class="product-big-title-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-bit-title text-center">
          <h2><%= t ".order_history" %></h2>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div>
  <%= search_form_for @query, url: order_history_path, class: "form-inline" do |f| %>
    &emsp;
    <%= f.search_field :customer_name_cont, class: "form-control", placeholder: t(".customer_name") %>
    <%= f.search_field :delivery_phone_cont, class: "form-control", placeholder: t(".phone") %>
    <%= f.search_field :customer_name_or_note_cont, class: "form-control", placeholder: t(".name_or_note") %>
    <%= f.label t(".from") %>
    <%= f.date_field :created_at_gteq, class: "form-control" %>
    <%= f.label t(".to") %>
    <%= f.date_field :created_at_datelteq, class: "form-control" %>&nbsp;&nbsp;&nbsp;
    <%= f.label t(".status") %>
    <%= f.select :status_cont, Order.statuses, include_blank: t(".all") %>
    <%= button_tag class: "btn btn-sm" do %>
      <i class="fa fa-search"></i>
    <% end %>
  <% end %>
</div>
<br>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <%= render partial: "static_pages/history_table", locals: {orders: @orders} %>
  </div>
  <div class="col-sm-1"></div>
</div>
