<% provide :title, t(".name") %>
<div class="slider-area">
  <!-- Slider -->
  <div class="block-slider block-slider4">
    <ul class="" id="bxslider-home4">
      <li>
        <%= image_tag("h4-slide.png", alt: "Slide") %>
        <div class="caption-group">
          <h2 class="caption title">
            <%= t ".product_sample" %>
          </h2>
          <h4 class="caption subtitle"><%= t ".dual_sim" %></h4>
          <a class="caption button-radius" href="#"><span class="icon"></span><%= t ".shop_now" %></a>
        </div>
      </li>
    </ul>
  </div>
  <!-- ./Slider -->
</div>
<!-- End slider area -->

<div class="promo-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="single-promo promo1">
          <i class="fa fa-gift"></i>
          <p><%= t ".day_return" %></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="single-promo promo2">
          <i class="fa fa-truck"></i>
          <p><%= t ".free_shipping" %></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="single-promo promo3">
          <i class="fa fa-lock"></i>
          <p><%= t ".secure_payments" %></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="single-promo promo4">
          <i class="fa fa-gift"></i>
          <p><%= t ".new_product" %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End promo area -->

<div class="maincontent-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="latest-product">
          <h2 class="section-title"><%= t ".top_sellers_product" %></h2>
          <div class="product-carousel">
            <% @products_suggest.each do |product| %>
              <%= render partial: "static_pages/product_suggest", locals: {product: product} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End main content area -->

<div class="brands-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="brand-wrapper">
          <div class="brand-list">
            <%= image_tag("brand1.png") %>
            <%= image_tag("brand2.png") %>
            <%= image_tag("brand3.png") %>
            <%= image_tag("brand4.png") %>
            <%= image_tag("brand5.png") %>
            <%= image_tag("brand6.png") %>
            <%= image_tag("brand1.png") %>
            <%= image_tag("brand2.png") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End brands area -->

<div class="product-widget-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="single-product-widget">
          <h2 class="product-wid-title"><%= t ".top_sellers" %></h2>
          <a href="" class="wid-view-more"><%= t ".view_all" %></a>
          <% @top_sellers.each do |product| %>
            <%= render partial: "static_pages/product_thumb", locals: {product: product} %>
          <% end %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-product-widget">
          <h2 class="product-wid-title"><%= t ".top_rating" %></h2>
          <a href="#" class="wid-view-more"><%= t ".view_all" %></a>
          <% @top_rates.each do |product| %>
            <%= render partial: "static_pages/product_thumb", locals: {product: product} %>
          <% end %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-product-widget">
          <h2 class="product-wid-title"><%= t ".top_new" %></h2>
          <a href="#" class="wid-view-more"><%= t ".view_all" %></a>
          <% @top_new.each do |product| %>
            <%= render partial: "static_pages/product_thumb", locals: {product: product} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End product widget area -->
