<tr class="cart_item" id="<%= "cart_#{cart["id"]}" %>">
  <td class="product-check"> 
    <%= link_to product_checkbox(cart["checked"]),
      check_cart_path(cart["id"]),
      method: :put,
      remote: true
    %>
  </td>
  <td class="product-thumbnail">
    <a href="#">
      <%= display_first_image_product get_product_detail(cart["product_detail_id"]).product, Settings.size_image_medium %>
    </a>
  </td>

  <td class="product-name"> 
    <%= get_product_detail(cart["product_detail_id"]).product.name %>
  </td>

  <td class="product-color">
    <%= @product_detail.color_name %>
  </td>

  <td class="product-size">
    <%= @product_detail.size_name %>
  </td>

  <td class="product-price">
    <span class="amount"><%= display_cost @product_detail.cost %></span>
  </td>

  <td class="product-quantity">
    <div class="quantity buttons_added">
      <%= link_to "<button class='btn btn-primary btn-sm'>-</button>".html_safe,
        minus_qty_cart_path(cart["id"]),
        data: {params: "cost=#{@product_detail.cost}"},
        method: :put,
        remote: true
      %>
      <input id="quantity" type="number" size="1" class="input-sm" title="<%= t ".quantity" %>"
        value="<%= cart["quantity"] %>" min="<%= Settings.cart_quantity_min %>"
        max="<%= Settings.cart_quantity_max %>" disabled>
      <%= link_to "<button class='btn btn-primary btn-sm'>+</button>".html_safe, 
        plus_qty_cart_path(cart["id"]),
        data: {params: "cost=#{@product_detail.cost}"},
        method: :put,
        remote: true
      %>
    </div>
  </td>

  <td class="product-subtotal">
    <span class="amount" id="total-cost"><%= display_cost cart["quantity"] * @product_detail.cost %></span>
  </td>
  <td class="product-remove">
    <%= link_to "x", delete_cart_path(cart["id"]),
      method: :delete,
      remote: true
    %>
  </td>
</tr>
