<div class="row">
  <div class="col-md-12">
    <div class="product-content-right">
      <div class="woocommerce">
        <div class="checkout">
          <div id="customer_details" class="col2-set">
            <div class="col-md-6 ">
              <div class="product-images">
                <div class="product-main-img flex-center">
                  <%= display_first_image_product @product,
                                                  Settings.size_image_medium_more %>
                </div>
              </div>
            </div>
            <div class="col-md-6 ">
              <div class="woocommerce-billing-fields">
                <h3 class="title-admin">
                  <%= @product.name %>
                </h3>

                <table class="table">
                  <tbody>
                    <tr>
                      <td><%= t "admin.products.form.name" %>: </td>
                      <td>
                        <%= @product.name %>
                      </td>
                    </tr>
                    <tr>
                      <td><%= t "admin.products.form.desc" %>: </td>
                      <td>
                        <%= @product.desc %>
                      </td>
                    </tr>
                    <tr>
                      <td><%= t "admin.products.form.category" %>:</td>
                      <td>
                        <%= @product.category.name %>
                      </td>
                    </tr>
                    <tr>
                      <td><%= t "admin.products.form.created_at" %>:</td>
                      <td>
                        <%= @product.created_at.strftime(t("admin.format_time")) %>
                      </td>
                    </tr>
                    <tr>
                      <td><%= t "admin.products.form.updated_at" %>:</td>
                      <td>
                        <%= @product.updated_at.strftime(t("admin.format_time")) %>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<%= link_to button_add,
            new_admin_product_detail_path(:product_id => @product.id) %>
<br>
<table class="table">
  <thead>
    <tr>
      <th><%= t "admin.products.show.index" %></th>
      <th><%= t "admin.product_details.form.image" %></th>
      <th><%= t "admin.product_details.form.quantity" %></th>
      <th><%= t "admin.product_details.form.cost" %></th>
      <th><%= t "admin.product_details.form.color" %></th>
      <th><%= t "admin.product_details.form.size" %></th>
      <th colspan="3"><%= t "admin.products.show.handle" %></th>
    </tr>
  </thead>

  <tbody>
    <% @product.product_details.each_with_index do |product_detail, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td>
          <div class="max-size-image" >
            <%= display_image product_detail, Settings.size_image_medium %>
          </div>
        </td>
        <td><%= product_detail.quantity %></td>
        <td><%= display_cost product_detail.cost %></td>

        <td><%= product_detail.product_color.name%></td>
        <td><%= product_detail.product_size.name %></td>
        <td><%= link_to icon_show,
                        admin_product_detail_path(product_detail) %></td>
        <td><%= link_to icon_edit,
                        edit_admin_product_detail_path(product_detail) %></td>
        <td><%= link_to icon_delete,
                        admin_product_detail_path(product_detail),
                        method: :delete,
                        data: {confirm: t("admin.are_you_sure")} %></td>
      </tr>
    <% end %>
  </tbody>

</table>
<div class="flex-center" >
  <%== pagy_bootstrap_nav @pagy %>
</div>

<div class="links-page">
  <%= link_to t("admin.button.edit"),
              edit_admin_product_path(@product) %>
  |
  <%= link_to t("admin.button.back"),
              admin_products_path %>
</div>
