<!DOCTYPE html>
<html>

<head>
  <title>
    <%= full_title yield(:title) %>
  </title>
  <%= render "layouts/rails_default" %>
  <%= render "layouts/shim" %>
</head>

<body>
  <%= render "admin/layouts/header" %>
  <div class="container">
    <%= toastr_flash %>
    <%= yield %>
  </div>

  <%= render "admin/layouts/footer" %>
</body>
</html>
