<%= form_with url: yield(:url),
              model: product_detail,
              class: "checkout" do |form| %>
  <div id="customer_details" class="col2-set flex-center ">
    <div class="col-md-6 .col-md-offset-3">
      <div class="woocommerce-billing-fields">
        <h3><%= product_detail.product.name %></h3>
        <%= render "shared/error_messages", object: form.object %>

        <%= form.hidden_field :product_id %>

        <%= render "subform", form: form %>
        <div class="actions flex-center">
          <%= form.submit t("admin.product_details.form.submit") %>
        </div>
      </div>
    </div>
  </div>
<% end %>
