<div class="col-md-3 col-sm-6">
  <div class="single-shop-product">
    <div class="product-upper">
      <%= image_tag "product-2.jpg" %>
    </div>
    <h2><a href=""><%= product.name %></a></h2>
    <div class="product-carousel-price">
      <ins><%= t "products.index.currency_unit_front" %><%= get_avg_cost_product product %><%= t "products.index.currency_unit_back" %></ins>
    </div>
    <div class="product-option-shop">
      <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/canvas/shop/?add-to-cart=70"><%= t "products.index.add_to_card"%></a>
    </div>
  </div>
</div>
