<div class="footer-top-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="footer-about-us">
          <h2>u<span><%= t "footer.name_shop" %></span></h2>
          <p>
            <%= t "footer.desc" %>
          </p>
          <div class="footer-social">
            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="footer-menu">
          <h2 class="footer-wid-title">
            <%= t "footer.user_navigation" %>
          </h2>
          <ul>
            <li>
              <a href="">
                <%= t "footer.my_account" %>
              </a>
            </li>
            <li>
              <a href="">
                <%= t "footer.order_history" %>
              </a>
            </li>
            <li>
              <a href="">
                <%= t "header.wishlist" %>
              </a>
            </li>
            <li>
              <a href="">
                <%= t "footer.vendor_contact" %>
              </a>
            </li>
            <li>
              <a href="">
                <%= t "footer.front_page" %>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="footer-menu">
          <h2 class="footer-wid-title">
            <%= t "footer.categories" %>
          </h2>
          <ul>
            <li>
              <a href="">
                <%= t "footer.mobile_phone" %>
              </a>
            </li>
            <li>
              <a href="">
                <%= t "footer.home_accesseries" %>
              </a>
            </li>
            <li>
              <a href="">
                <%= t "footer.led_tv" %>
              </a>
            </li>
            <li>
              <a href="">
                <%= t "footer.computer" %>
              </a>
            </li>
            <li>
              <a href="">
                <%= t "footer.gadets" %>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="footer-newsletter">
          <h2 class="footer-wid-title">
            <%= t "footer.newsletter" %>
          </h2>
          <p>
            <%= t "footer.sign_in_to_out" %>
          </p>
          <div class="newsletter-form">
            <input type="email" placeholder="<%= t("footer.type_your_email") %>">
            <input type="submit" value="<%= t("footer.subscribe")%>">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-bottom-area">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="copyright">
          <p>
            <%= t "footer.copy_right" %><a href="http://www.freshdesignweb.com" target="_blank">freshDesignweb.com</a></p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="footer-card-icon">
          <i class="fa fa-cc-discover"></i>
          <i class="fa fa-cc-mastercard"></i>
          <i class="fa fa-cc-paypal"></i>
          <i class="fa fa-cc-visa"></i>
        </div>
      </div>
    </div>
  </div>
</div>
