<div class="header-area">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="user-menu">
          <ul>
            <li>
              <%= link_to t("header.my_cart"), cart_path %>
            </li>
            <li>
              <%= link_to t("header.checkout"), checkout_path %>
            </li>
            <% if user_signed_in? %>
              <li><%= link_to t("header.my_account"), edit_user_registration_path %></li>
              <li><%= link_to t("logout"), logout_path, method: :delete %></li>
            <% else %>
              <li><%= link_to t("login"), new_user_session_path %></li>
              <li><%= link_to t("signup"), new_user_registration_path %></li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="col-md-4">
        <div class="header-right">
          <ul class="list-unstyled list-inline">

            <li class="dropdown dropdown-small">
              <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-language"></i>
                <span class="key"><%= t "header.language" %></span><b class="caret"></b></a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li>
                  <%= link_to t("header.english"), locale: :en %>
                </li>
                <li>
                  <%= link_to t("header.vietnamese"), locale: :vi %>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End header area -->

<div class="site-branding-area">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="logo">
          <h1>
            <a href="./">
              <%= link_to image_tag("logo.png") %>
            </a>
          </h1>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="shopping-item">
          <%= link_to "#{t("header.cart")}<i class='fa fa-shopping-cart'></i>".html_safe, cart_path %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End site branding area -->

<div class="mainmenu-area">
  <div class="container">
    <div class="row">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to t("home"), root_path, class: "active" %>
          </li>
          <li>
            <%= link_to t("header.shop_page"), shop_path %>
          </li>
          <li>
            <%= link_to t("header.product"), products_path %>
          </li>
          <li>
            <%= link_to t("header.cart"), cart_path %>
          </li>
          <li>
            <%= link_to t("header.checkout"), checkout_path %>
          </li>
          <li>
            <a href="#">
              <%= t "header.category" %>
            </a>
          </li>
          <li>
            <a href="#">
              <%= t "header.contact"%>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End mainmenu area -->
